<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h3>
  </div>
  <div class="panel-body">
    {{ content }}
  </div>

</div>
