.page-content {
    z-index: 1;
}
nav.navbar-default {
    background: #000;
    border: none;
}
nav.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 2px;
    outline: 0 none;
    text-decoration: none;
    display: inline;
}
nav.navbar-default .navbar-nav>li>a:hover {
    border-bottom: 2px solid #fff;
    color: #fff;
}
.navbar-brand {
    height: 17px;
    width: 172px;
    margin-top: 13px;
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-brand img {
    max-width: 100%;
}
#menu-main-nav-container {
    padding: 30px 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 499;
}
body .layout-content {
    padding-top: 90px;
}
body.toolbar-horizontal nav.navbar-default {
    top: 39px;
}
body.toolbar-horizontal.toolbar-tray-open nav.navbar-default {
    top: 79px;
}
.navbar-default .navbar-toggle {
    border: 0
}
nav.navbar-default .navbar-toggle:hover {
    background: none;
    border: none;
}
.navbar-toggle .navicon {
    display: none;
}
.navbar-toggle.collapsed .close {
    display: none;
}
.navbar-toggle.collapsed .navicon {
    display: block;
}
.navbar-toggle .close {
    display: block;
    background: url(../images/nav-close.png) no-repeat scroll 0 0 transparent;
    height: 28px;
    width: 29px;
    cursor: pointer;
    float: right;
    opacity: 1;
}
.navicon {
    background: url(../images/navicon-icon.png) no-repeat scroll 0 -28px transparent;
    height: 27px;
    width: 36px;
    cursor: pointer;
    float: right;
}
