#block-views-block-sponsor-blocks-block-2,
#block-views-block-sponsor-blocks-block-1 {
    text-align: center;
}
#block-views-block-sponsor-blocks-block-2 img,
#block-views-block-sponsor-blocks-block-1 img {
    max-width: 100%;
    height: auto;
}
